* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
}
.ItemsBox {
  width: 400px;
  height: 500px;
  background-color: gray;
  border-radius: 10px;
  margin: 10px;
  /* display: inline-block; */
}

.formInput{
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: auto;
  background-color: gray;
  padding: 5px;
}
.formInput input{
  padding: 15px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}